.SubTitle {
  padding-bottom: 25px;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--main-pink);
}
.SubTitle h2 {
  font-size: 1.5vw;
  margin: 2px;
  border: black solid thin;
  text-align: center;
  width: 40%;
  max-width: 700px;
  padding: 5px;
  background: var(--main-black);
  color: var(--button-text);
  border-radius: 0.2em;
}
