.Title {
  color: var(--main-black);
  font-size: 3vw;
  font-family: 'Train One', cursive;
  background: var(--main-pink);
  width: 100vw;
}

@media (max-width: 1000px) {
  .Title {
    color: var(--main-black);
    font-size: 2em;
    font-family: 'Train One', cursive;
    background: var(--main-pink);
    width: 100vw;
  }
}
