@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
:root {
  --main-pink: #fec7d7;
  --main-black: #0e172c;
  --main-grey: #d9d4e7;
  --tertiary: #a786df;
  --off-white: #f9f8fc;
  --button-text: #fffffe;
}
* {
  margin: 0;
  border-radius: 0.2em;
}
html,
body {
  background: var(--main-grey);
  font-family: sans-serif;
}
.App {
  text-align: center;
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.feature-wrapper {
  width: 100vw;
  max-width: 2200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5vh;
}
.contact-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-wrapper h3 {
  padding: 10px;
  margin: 15px;
  font-size: 2vw;
  width: 50%;
}
.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1000px) {
  .feature-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 5vh;
  }
  .contact-wrapper h3 {
    padding: 10px;
    margin: 15px;
    font-size: 5vw;
    width: 90%;
  }
  .modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 200%;
    width: 100vw;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
