@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
:root {
  --main-pink: #fec7d7;
  --main-black: #0e172c;
  --main-grey: #d9d4e7;
  --tertiary: #a786df;
  --off-white: #f9f8fc;
  --button-text: #fffffe;
}
* {
  margin: 0;
}
html,
body {
  background: var(--main-grey);
}
.App {
  text-align: center;
}
.feature-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
